<div class="result-list">
  <h2>Search Results</h2>
  <ol>
    <% places.each( function (place) { %>
        <li class="result-option" data-id="<%= place.id %>">
           <%= place.escape("name")  %>
           Cuisine: <%= place.escape("cuisine") %>
        </li>
      <% }) %>
    </ol>
</div>

<div id="restaurant-view">

</div>
