<script charset="utf-8">
$(document).ready(function(){
  YelpClone.MapboxToken = "<%= ENV["MAPBOX_ACCESS_TOKEN"] %>";
  YelpClone.initialize();
});
</script>


<div id="content" class="group">

</div>
