<form id="restaurant-form">

  <label>Restaurant Name:
    <input type="text" name="place[name]" value="">
  </label>
  <label>Restaurant Inspection:
    <input type="text" name="place[food_inspection]" value="">
  </label>
  <label>Cuisine:
    <input type="text" name="place[cuisine]" value="">
  </label>
  <label>Street:
    <input type="address" name="place[street]" value="">
  </label>
  <label>City:
    <input type="text" name="place[city]" value="">
  </label>
  <label>State:
    <input type="text" name="place[state]" value="">
  </label>
  <label>Zipcode:
    <input type="text" name="place[zipcode]" value="">
  </label>
  <label>Restaurant Phone Number:
    <input type="text" name="place[phone_number]" value="">
  </label>
  <input type="submit" class='create-rest' value="Create Restaurant">
</form>
