<div id="addplace">
  Create A Restaurant
</div>

<% places.each( function(place){ %>
    <% for( i in place.attributes){ %>
      <h2><%= i %> : <%= place.escape(i) %></h2>

      <% } %>
  <% }); %>
