<div id="addplace">
  Create A Restaurant
</div>


<% places.each( function(place){ %>
  <div class="delete-rest" data-id="<%= place.escape("user_id") %>">
    <% for( i in place.attributes){ %>
      <p><%= i %> : <%= place.escape(i) %></p>

      <% } %>
  </div>
  <% }); %>
