<nav class="header-nav group">
  <!-- Logo -->
  <h1 class="header-logo group">
    <a href="/#/">Yelp Re-Imagined</a>
  </h1>

  <!-- Menu Options -->
  <ul class="header-list group">

      <li class="sign-in modal-signin">
          <a class="js-show-modal">Sign In</a>
      </li>

     <li class="sign-in modal-signup">
       <a class="js-show-modal">Sign Up</a>
    </li>
  </ul>
</nav>

<!-- Modal Sign-in Modal -->
<section id="modal" class="modal">

</section>

<script>
$(document).ready(function () {
  window.showModal = function () {
    $("#modal").addClass("is-active");
  }

  window.hideModal = function () {
    $("#modal").removeClass("is-active");
  }
  $("body").on("click", ".js-show-modal", window.showModal);
  $("body").on("click", ".js-hide-modal", window.hideModal);
});
</script>
