<nav class="header-nav group">
  <h1 class="header-logo group">
    <a href="/#/">Yelp Re-Imagined</a>
  </h1>

  <ul class="header-list group">
    <li class="sign-in">
      <a href="/#/users/<%= YelpClone.currentUser.id %>">
        <i class="fa fa-user"></i>
          <% if ( YelpClone.currentUser.escape("nickname") === '') { %>
              <%= YelpClone.currentUser.escape("username") %>
          <% } else { %>
            <%= YelpClone.currentUser.escape("nickname") %>
          <% } %>
      </a>
    </li>
    <li class="sign-out">Sign Out</li>
  </ul>
</nav>
