<div id="landing">
  <div class="landing-hero">
    <h2>I'm Feeling Like Having ...</h2>
    <section class="la-options group">

      <a href="#/search">
        <div class="la-search">
          <i class="fa fa-search"></i> Search Restaurants
        </div>

      </a>

      <a href="#/sentence">
        <div class="la-sentence">
          <i class="fa fa-newspaper-o"></i> Try The Sentence
        </div>
      </a>
    </section>
  </div>
</div>
