<div id="landing">

</div>
<section id="explain-tiles">
  <div class="info-sec group">
    <p>
      Did you feel that? Look at me - I'm not out of breath anymore!
      Did you feel that? Look at me - I'm not out of breath anymore!
      You gotta go through it to see there ain't nothing to it.
      It depends on your ability to take a risk on eating something when
      you dont know what it is. Thats why I enjoy eating in the dark.
    </p>
  </div>

  <div class="info-sec group">
    <p>
      Did you feel that? Look at me - I'm not out of breath anymore!
      Did you feel that? Look at me - I'm not out of breath anymore!
      You gotta go through it to see there ain't nothing to it.
      It depends on your ability to take a risk on eating something when
      you dont know what it is. Thats why I enjoy eating in the dark.
    </p>
  </div>

  <div class="info-sec group">
    <p>
       Did you feel that? Look at me - I'm not out of breath anymore!
       Did you feel that? Look at me - I'm not out of breath anymore!
       You gotta go through it to see there ain't nothing to it.
       It depends on your ability to take a risk on eating something when
       you dont know what it is. Thats why I enjoy eating in the dark.
    </p>
  </div>
</section>
