<div id="landing">
  <div class="landing-hero">
    <h2>Welcome To Carlland!</h2>
    <section class="la-options group">

      <a href="#/search">
        <div class="la-search">
          <i class="fa fa-search"></i> Search Restaurants
        </div>

      </a>

      <a href="#/restaurants">
        <div class="la-sentence">
          <i class="fa fa-newspaper-o"></i> Try The Sentence
        </div>
      </a>
    </section>
  </div>
</div>
<section id="explain-tiles">
  <div class="info-sec group">
    <p>Tianyuraptor Fruitadens Lusotitan Cumnoria Hallopus Isisaurus Asiatosaurus
       Sulaimanisaurus Ornithosuchus Mei Xuwulong Pellegrinisaurus Blikanasaurus
        Petrobrasaurus Deinocheirus Medusaceratops Bistahieversor Tanycolagreus
        Ferganocephale Zephyrosaurus Hypsilophodon Mojoceratops Dilong Tapinocephalus
        Albertaceratops Bissektipelta Linheraptor Jintasaurus Tatankacephalus
        Atsinganosaurus Scleromochlus Mendozasaurus Paralititan Orthogoniosaurus
         </p>
  </div>

  <div class="info-sec group">
    <p>Tianyuraptor Fruitadens Lusotitan Cumnoria Hallopus Isisaurus Asiatosaurus
      Sulaimanisaurus Ornithosuchus Mei Xuwulong Pellegrinisaurus Blikanasaurus
      Petrobrasaurus Deinocheirus Medusaceratops Bistahieversor Tanycolagreus
      Ferganocephale Zephyrosaurus Hypsilophodon Mojoceratops Dilong Tapinocephalus
      Albertaceratops Bissektipelta Linheraptor Jintasaurus Tatankacephalus
      Atsinganosaurus Scleromochlus Mendozasaurus Paralititan Orthogoniosaurus
    </p>
  </div>

  <div class="info-sec group">
    <p>Tianyuraptor Fruitadens Lusotitan Cumnoria Hallopus Isisaurus Asiatosaurus
      Sulaimanisaurus Ornithosuchus Mei Xuwulong Pellegrinisaurus Blikanasaurus
      Petrobrasaurus Deinocheirus Medusaceratops Bistahieversor Tanycolagreus
      Ferganocephale Zephyrosaurus Hypsilophodon Mojoceratops Dilong Tapinocephalus
      Albertaceratops Bissektipelta Linheraptor Jintasaurus Tatankacephalus
      Atsinganosaurus Scleromochlus Mendozasaurus Paralititan Orthogoniosaurus
    </p>
  </div>
</section>
