<div id="background-color">

  <div class="main clearfix">
    <form id="nl-form" class="nl-form">
      I want to eat at
      <select>
        <option value="Any" selected>Any</option>
        <option value="A" >A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="P">P</option>
      </select>
      <br/> rated restaurant, I recently ate
      <select>
        <option value="1" selected>American</option>
        <option value="2">Chinese</option>
        <option value="3">Indian</option>
        <option value="4">Italian</option>
        <option value="5">Mexican</option>
        <option value="6">Thai</option>
      </select>, and I would like the places to be within a
      <select>
        <option value="0.5">.5 Mile</option>
        <option value="1">1 Mile</option>
        <option value="2" selected>2 Mile</option>
        <option value="4">4 Mile</option>
      </select> radius of
      <input class='form-text' type="text" value="" placeholder="Mannhattan, NY"/>
      <div class="nl-submit-wrap">
        <button class="nl-submit" type="submit">Find Me Places</button>
      </div>
      <div class="nl-overlay"></div>
    </form>
  </div>
</div>
</div>
