#landing {
  position: absolute;
  width: 100%;
  top: 66px;
  bottom: 0px;
  background-image: image-url("temp_back2.jpg");
  background-size: cover;
}

#explain-tiles {
  position: fixed;
  bottom: 0px;
  height: 250px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  float: left;
}

.info-sec {
  float: right;
  width: 25%;
  border-right: 1px solid black;
  height: inherit;
  padding: 25px;

}

.info-sec p {
  text-align: center;
  margin-top: 25px;
  font-weight: 300 bold;
}
