#landing {
  position: absolute;
  width: 100%;
  top: 66px;
  bottom: 0px;
  background-image: image-url("temp_back2.jpg");
  background-size: cover;
}

#explain-tiles {
  position: fixed;
  bottom: 0px;
  height: 200px;
  width: 100%;
  background: rgba(255,255,255,0.8);
  float: left;
}

.info-sec {
  float: right;
  width: 25%;
  border-right: 1px solid black;
  height: inherit;
  padding: 25px;

}

.info-sec p {
  text-align: center;
  margin-top: 25px;
  font-weight: 300 bold;
}

.landing-hero {
  padding: 150px;
  font-size: 42px;
  color: white;
  text-align: center;  // width: 100px;
  text-shadow: 0 0 3px black;

}

.landing-hero h2 {
  margin-top: 100px;
  font-size: 84px;
  // color: #2c3e50;
  font-weight: 700 bold;
}

.la-options {
  margin-top: 100px;
  position: relative;
}

.la-options div {
  border-radius: 5px;
  border: 3px solid white;
  padding: 5px;
}
.la-search {
  float: left;
  margin-left: 200px;

}

.la-sentence {
  float: left;
  margin-left: 50px;
}



.la-options div:hover {
  background-color: rgba(240, 0, 0, 0.4);
  transition: background-color .5s ease-in; /* vendorless fallback */

}
