#landing {
  position: absolute;
  width: 100%;
  top: 65px;
  bottom: 0px;
  background-image: image-url("temp_back1.jpg");
  background-size: cover;
}

.landing-hero {
  padding: 50px;
  font-size: 42px;
  color: white;
  text-align: center;  // width: 100px;
  text-shadow: 0 0 3px black;

}

.landing-hero h2 {
  // margin-top: 100px;
  font-size: 84px;
  // color: #2c3e50;
  font-weight: 700 bold;
}

.la-options {
  margin-top: 100px;
  width: 100%;
  margin: auto;
}

// add a media query for smaller

.la-options a {
  display: inline-block;
  margin-top: 100px;
}
.la-options div {
  border-radius: 5px;
  border: 3px solid white;
  padding: 5px;
  transition: background-color .5s ease-in;
}
.la-search {
  margin-right: 50px;

}


.la-options div:hover {
  background-color: rgba(240, 0, 0, 0.4);

}


@media only screen and (max-width: 1015px) {
  .la-options {
    margin-top: 50px;
  }

  .la-options a {
    margin-top: 50px;
    font-size: 30px;
    transition: 1s;
  }
}


@media only screen and (max-width: 748px) {
  .landing-hero h2 {
    font-size: 64px;
    transition: 1s;
  }

  .la-options a:first-child {
    margin-left: 46px;
  }
}



.guest-account {
  margin: 10px 10px;
  padding: 10px 50px;
}
