<div id="sidebar-info" class="group">

</div>

<div id="map-show">

</div>

<div class="cd-panel from-right">
  <div class="cd-panel-container">
    <div class="cd-panel-content">
    </div>
  </div>
</div>
