<form id="search-form" class="group">
    <label for="Find"> Find
      <input type="text" name="place[cuisine]" placeholder="Hungry for?" value="">
    </label>

    <label for="near"> Near
      <input type="text" name="place[location]" placeholder="Location / Empty For GPS" value="">
    </label>

    <label for=""> Food Inspection Rating
      <select name="place[rating]">
        <option value="Any">Any</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="F">P</option>
        <option value="Z">Z</option>
      </select>
    </label>

    <label for=""> Distance
      <select name="place[distance]">
        <option value="0.5">0.5 mile</option>
        <option value="1">1 mile</option>
        <option value="2">2 miles</option>
        <option value="4">4 miles</option>
        <option value="8">8 miles</option>
      </select>
    </label>
    <input type="submit"  value="Find Results">

</form>

<div id="results-are-nice">

</div>
