<form id="form_id" action="index.html" method="post">
    <label for="Find">Find</label>
    <input type="text" name="some_name" value="">
    <label for="near">Near</label>
    <input type="text" name="some_name" value="">
    <input type="submit" name="some_name" value="">
</form>

<div id="result-are-nice">

</div>
