<form id="form_id" action="index.html" method="post">
    <label for="Find">Find
      <input type="text" name="some_name" placeholder="Hungry for?" value="">
    </label>

    <label for="near">Near
      <input type="text" name="some_name" placeholder="Location / Click For GPS" value="">
    </label>  <button name="button" class="gps-button"></button>

    <input type="submit" name="some_name" value="">
</form>

<div id="results-are-nice">

</div>
